$color-picker-padding = 10px

.ColorPicker
	display: block
	position: relative


	.current-color
		button-style()
		cursor: pointer
		transition: box-shadow $default-animation-duration ease, transform $default-animation-duration ease, background $default-animation-duration ease


	.color-options
		position: absolute
		top: -1 * $color-picker-padding
		left: -1 * $color-picker-padding

		background-color: $button-background
		border-radius: $button-width + $color-picker-padding

		// Leave room at top for current color
		padding: $color-picker-padding
		padding-top: $button-width + ($color-picker-padding * 2) + 4px

		transition: opacity $default-animation-duration ease, transform $default-animation-duration ease


		.color-option
			button-style()
			box-shadow(1)
			cursor: pointer

			&:not(:first-child)
				margin-top: 12px

			&.active
				button-active-state()


	&:not(.dragging)
		.color-options
			opacity: 0
			pointer-events: none
			transform: scale(0.9) translateY(-20px)


	&.dragging
		.current-color
			button-active-state()

		.color-options
			opacity: 1
			pointer-events: auto
			transform: scale(1) translateY(0px)
