.Slider
	absolute-fill()
	z-index: 2
	background-color: $button-background
	cursor: -webkit-grab

	border-radius: $button-width

	&:active
		cursor: -webkit-grabbing


	.button
		position: absolute
		button-style()
		background-color: $button-foreground
		// margin-left: -1 * ($button-width/ 2)
