.PlayButton
	button-style()
	cursor: pointer
	background-color: $button-background

	flex-grow: 0
	flex-shrink: 0

	> i
		color: $button-foreground
		font-size: 36px
		text-align: center
		display: block

		&.fa-play
			margin-top: 15px
			margin-left: 9px

		&.fa-pause
			margin-top: 16px
			margin-left: 0px