$default-animation-duration = 200ms


gray($alpha = 1)
	rgba(0,0,0, $alpha)


absolute-fill()
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0


box-shadow($level = 2)
	if $level is 0
		box-shadow: 0 0 1px gray(0), 0 1px 2px gray(0)
	else if $level is 1
		box-shadow: 0 0 1px gray(0.12), 0 1px 2px gray(0.15)
	else if $level is 2
		box-shadow: 0 0 2px gray(0.12), 0 2px 3px gray(0.15)
	else if $level is 3
		box-shadow: 0 0 3px gray(0.12), 0 4px 6px gray(0.15)
	else if $level is 4
		box-shadow: 0 6px 16px gray(0.4), 0 6px 8px gray(0.15), -1px 0 0 gray(0.15), 1px 0 0 gray(0.15), 0 -1px 0 gray(0.1), 0 1px 0 gray(0.2)


$button-background = rgb(240,240,240)
$button-foreground = rgb(96,96,96)
$button-width      = 64px


button-style()
	width: $button-width
	height: $button-width
	border-radius: 100%
	button-default-state()

	&:hover
		button-hover-state()

	&:active, &.active
		button-active-state()


button-default-state()
	transition: box-shadow $default-animation-duration ease, transform $default-animation-duration ease


button-hover-state()
	box-shadow(1)


button-active-state()
	box-shadow(2)
	transform: scale(1.1)

