.Timeline
	flex-grow: 1
	position: relative


.Timeline .previews
	pointer-events: none
	absolute-fill()
	z-index: 2

	// Nudge left and right due to slider caps.
	left: ($button-width / 2)
	right: ($button-width / 2)
