.App

	> .timeline-container
		position: relative
		z-index: 2

		display: flex
		box-shadow(2)
		padding: 12px;

		> *:not(:first-child)
			margin-left: 22px


	.canvas-container
		height: 100vh
		position: relative
		z-index: 1

		> *
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0


		> .Paths
			opacity: 0.1
			transition: opacity 200ms ease


	&.playing .canvas-container > .Paths
		opacity: 0