.App

	.canvas-container
		height: calc(100vh - 64px)
		position: relative


		> *
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0


		> .Paths
			opacity: 0
			transition: opacity 200ms ease


		&:hover > .Paths
			opacity: 0.1


	&.playing .canvas-container > .Paths
		opacity: 0


	> .timeline-container
		display: flex
		background-color: rgb(230, 230, 230)
